[submodule "Numcore_messaging_library"]
	path = samples/Numcore_messaging_library
	url = https://github.com/reunanen/Numcore_messaging_library
[submodule "SQLiteCpp"]
	path = SQLiteCpp
	url = https://github.com/SRombauts/SQLiteCpp
[submodule "test/googletest"]
	path = test/googletest
	url = https://github.com/google/googletest
[submodule "system_clock_time_point_string_conversion"]
	path = system_clock_time_point_string_conversion
	url = https://github.com/reunanen/system_clock_time_point_string_conversion
[submodule "samples/system_clock_time_point_string_conversion"]
	path = samples/system_clock_time_point_string_conversion
	url = https://github.com/reunanen/system_clock_time_point_string_conversion
